@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.active > div{
  background-color: rgba(78, 166, 116, 1);
  color: white;
}

.navbar-link.active .profile-name {
  color: #fff;
}

.navbar-link.active .profile-email {
  color: rgba(255, 255, 255, 0.75);
}